<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723977705158-5u4aef72a4g8dmds65i3s7ikbs2cainp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723977705158-5u4aef72a4g8dmds65i3s7ikbs2cainp</string>
	<key>API_KEY</key>
	<string>AIzaSyCvzxK7Gl46gv8FerBfSRaXDXSWBWr-yHc</string>
	<key>GCM_SENDER_ID</key>
	<string>723977705158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>earlystart.ESPS</string>
	<key>PROJECT_ID</key>
	<string>esps-app</string>
	<key>STORAGE_BUCKET</key>
	<string>esps-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723977705158:ios:0c8f9303ec621bdb5de9c7</string>
</dict>
</plist>